# Created by .ignore support plugin (hsz.mobi)
/.idea/
/frontend/node_modules/
/gateway/target/
/payment/target/
/registry/target/
/search/target/
/security/target/
/technology/target/
/training/target/
/user/target/