<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujiabo.fsd.mapper.TTrainingMapper">
  <resultMap id="BaseResultMap" type="com.wujiabo.fsd.entity.TTraining">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="skill_id" jdbcType="VARCHAR" property="skillId" />
    <result column="skill_name" jdbcType="VARCHAR" property="skillName" />
    <result column="mentor_id" jdbcType="VARCHAR" property="mentorId" />
    <result column="mentor_name" jdbcType="VARCHAR" property="mentorName" />
    <result column="fees" jdbcType="DECIMAL" property="fees" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="progress" jdbcType="INTEGER" property="progress" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, skill_id, skill_name, mentor_id, mentor_name, fees, start_date, end_date, `status`, 
    progress
  </sql>
  <select id="selectByExample" parameterType="com.wujiabo.fsd.entity.TTrainingCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_training
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_training
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_training
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wujiabo.fsd.entity.TTrainingCriteria">
    delete from t_training
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wujiabo.fsd.entity.TTraining">
    insert into t_training (id, skill_id, skill_name, 
      mentor_id, mentor_name, fees, 
      start_date, end_date, `status`, 
      progress)
    values (#{id,jdbcType=VARCHAR}, #{skillId,jdbcType=VARCHAR}, #{skillName,jdbcType=VARCHAR}, 
      #{mentorId,jdbcType=VARCHAR}, #{mentorName,jdbcType=VARCHAR}, #{fees,jdbcType=DECIMAL}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, 
      #{progress,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wujiabo.fsd.entity.TTraining">
    insert into t_training
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skillId != null">
        skill_id,
      </if>
      <if test="skillName != null">
        skill_name,
      </if>
      <if test="mentorId != null">
        mentor_id,
      </if>
      <if test="mentorName != null">
        mentor_name,
      </if>
      <if test="fees != null">
        fees,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="progress != null">
        progress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="skillId != null">
        #{skillId,jdbcType=VARCHAR},
      </if>
      <if test="skillName != null">
        #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="mentorId != null">
        #{mentorId,jdbcType=VARCHAR},
      </if>
      <if test="mentorName != null">
        #{mentorName,jdbcType=VARCHAR},
      </if>
      <if test="fees != null">
        #{fees,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wujiabo.fsd.entity.TTrainingCriteria" resultType="java.lang.Long">
    select count(*) from t_training
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_training
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.skillId != null">
        skill_id = #{record.skillId,jdbcType=VARCHAR},
      </if>
      <if test="record.skillName != null">
        skill_name = #{record.skillName,jdbcType=VARCHAR},
      </if>
      <if test="record.mentorId != null">
        mentor_id = #{record.mentorId,jdbcType=VARCHAR},
      </if>
      <if test="record.mentorName != null">
        mentor_name = #{record.mentorName,jdbcType=VARCHAR},
      </if>
      <if test="record.fees != null">
        fees = #{record.fees,jdbcType=DECIMAL},
      </if>
      <if test="record.startDate != null">
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.progress != null">
        progress = #{record.progress,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_training
    set id = #{record.id,jdbcType=VARCHAR},
      skill_id = #{record.skillId,jdbcType=VARCHAR},
      skill_name = #{record.skillName,jdbcType=VARCHAR},
      mentor_id = #{record.mentorId,jdbcType=VARCHAR},
      mentor_name = #{record.mentorName,jdbcType=VARCHAR},
      fees = #{record.fees,jdbcType=DECIMAL},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      `status` = #{record.status,jdbcType=VARCHAR},
      progress = #{record.progress,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wujiabo.fsd.entity.TTraining">
    update t_training
    <set>
      <if test="skillId != null">
        skill_id = #{skillId,jdbcType=VARCHAR},
      </if>
      <if test="skillName != null">
        skill_name = #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="mentorId != null">
        mentor_id = #{mentorId,jdbcType=VARCHAR},
      </if>
      <if test="mentorName != null">
        mentor_name = #{mentorName,jdbcType=VARCHAR},
      </if>
      <if test="fees != null">
        fees = #{fees,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wujiabo.fsd.entity.TTraining">
    update t_training
    set skill_id = #{skillId,jdbcType=VARCHAR},
      skill_name = #{skillName,jdbcType=VARCHAR},
      mentor_id = #{mentorId,jdbcType=VARCHAR},
      mentor_name = #{mentorName,jdbcType=VARCHAR},
      fees = #{fees,jdbcType=DECIMAL},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      `status` = #{status,jdbcType=VARCHAR},
      progress = #{progress,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.wujiabo.fsd.entity.TTrainingCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_training
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>